.calendarContainerEt {
  width: 320px;
}

.gridSevenEt {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.w-fullEt {
  width: 100%;
}

.dayText {
  font-size: 0.9rem;
  color: #000;
}

.dayOfWeek {
  font-size: 0.8rem;
  color: #000;
}

.centerGrid {
  display: grid;
  place-content: center;
}

.rowHeight {
  height: 2rem;
}
.borderTop {
  border-top: 1px solid #eeeeee;
}

.grayText {
  color: #a0a0a0;
}

.backgroundBlue {
  background-color: #83b5ff;
  color: white;
}
.backgroundBlue:hover {
  background-color: #83b5ff;
  color: white;
}
.dateWidthAndHeight {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
}

.selectedDate {
  background-color: #2a2a2a;
  color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.currentMonth:hover {
  background-color: #2a2a2a;
  color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.monthButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.todayButton {
  cursor: pointer;
}
.monthButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.topActions {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.buttonStyle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  border: none;
  margin-right: 7px;
}

.buttonBackgroundEt {
  background: linear-gradient(
    to bottom,
    rgb(7, 137, 48),
    rgb(252, 209, 22),
    rgb(206, 17, 38)
  );
  background-size: cover;
}

.buttonBackgroundEn {
  background: linear-gradient(
    0.2deg,
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
  background-size: cover;
}

.Cal {
  width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 0px;
  user-select: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.datePickerContainerEt {
  position: relative;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: white;
  height: 100%;
}
.datePickerContainerEt:hover {
  border: 2px solid #83b5ff;
}

.datePickerContainerEt:focus-within {
  border: 2px solid #83b5ff;
}
/* .datePickerContainerEt:focus-within .calendarIcon {
  color: #83b5ff;
} */
.blueOpen {
  border: 2px solid #83b5ff;
}

.dateInputStyle {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

.calendarIcon {
  color: #555;
  cursor: pointer;
  margin-left: 20px;
}

.etIndividualInput {
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 16px;
  outline: none;

  &:focus {
    border-color: #3f51b5;
    box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.25);
  }
}

.etHeight {
  min-height: 200px;
}

.etDateLabel {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}
